@page
@model Web.Pages.LoginModel
@{
}
<body>
	<main>
		<form method="post">
			<input type="text" name="Email" asp-for="testemail" placeholder="Navn" />
			<input type="text" name="Password" asp-for="testkode" placeholder="Beskrivelse" />
		</form>
	</main>
</body>
