@page
@model Web.Pages.LoginModel
@{
}
<body>
	<main>
		<form method="post">
			<input type="text" name="testemail" asp-for="testemail" placeholder="Email" />
			<input type="text" name="testkode" asp-for="testkode" placeholder="Password" />
			<input type="submit" value="Login" />
		</form>
		<div>
			@if (Model.LoggedIn)
			{
				<div class="loggedIn"> 

				</div>
			}
		</div>
	</main>
</body>
