@page
@model Web.Pages.LoginModel
@{
}
<body>
	<main>
		<form method="post">
			<input type="text" name="TestEmail" asp-for="TestEmail" placeholder="Email" />
			<input type="text" name="TestPassword" asp-for="TestPassword" placeholder="Password" />
			<input type="submit" value="Login" />
		</form>
		<div>
			@if (Model.LoggedIn == true)
			{
				<div class="loggedIn"> 
					<p>Du er logget ind</p>
				</div>
			}
			@if (Model.PasswordCorrect == false)
			{
				<div class="wrong">
					<p>Forkert Password</p>
				</div>
			}
			@if (Model.EmailCorrect == false)
			{
				<div class="wrong">
					<p>Forkert Email</p>
				</div>
			}
		</div>
	</main>
</body>
